@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans", serif;
}
body{
    background-color: #F5F5F5;
}
main{
    margin: 0 160px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}
nav h4{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
nav button{
    font-weight: bold;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid #006A50;
    color: #006A50;
    transition: 0.4s;
    cursor: pointer;
}
nav button:hover{
    background-color: #006A50;
    color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.primary-btn{
    padding: 17px 34px;
    background: #006A50;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.primary-btn:hover{
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.theme-color{
    background-color: #C6E4D6;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
    gap: 64px;
}
.hero-div img{
    width: 474.04px;
    height: 400px;
}
.hero-title{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
    background: transparent;
}
.hero-subtitle{
    color: #0E0E0E;
    opacity: 60%;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
    background: transparent
}
.hero-content{
    background: transparent;
}
.pillars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pillar-content h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card{
    background-color: white;
    padding: 24px 24px;
    border-radius: 16px;
}
.card img{
    margin-bottom: 24px;
}
.card h4{
    font-size: 20px;
    font-weight: bold;
}
.card p{
    margin-top: 24px;
    font-size: 16px;
}
p{
    background: transparent;
    color: #0E0E0E;
    opacity: 70%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
h3, h4, img{
    background: transparent;
}
.future-vision h3{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
.card-1{
    background-color: #D5E1F5;
}
.card-2{
    background-color: #c6e4d6;
}
.card-3{
    background-color: #f7ebcf;
}
.card button{
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 420;
    color: white;
    border: none;
    text-align: center;
    opacity: 0.9;
    cursor: pointer;
}
.card button:hover{
    opacity: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.card-1 button{
    background-color: #5490F5;
}
.card-2 button{
    background-color: #09A15C;
}
.card-3 button{
    background-color: #FFC239;
}
.future-vision p{
    padding-bottom: 32px;
}
.quote-container{
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    margin-top: 32px;
    padding: 48px 24px;
    background-color: white;
    border-radius: 16px;
}
.quote-container .no-pad{
    padding: 0px;
}
table{
    border-collapse: collapse;
}
.thead, td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
}
td{
    width: 100%;
}
.table-container{
    padding: 32px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.thead{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    background: rgb(198, 228, 214);
}
.table-container table tr{
    font-size: 16px;
    font-weight: 600;
}
table select{
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px 14px;
    color: rgb(14, 14, 14);

    font-size: 16px;
    font-weight: 500;
    text-align: left;
    appearance: none;
}
.select-div{
    position: relative;
}
.select-div img{
    position: absolute;
    width: 13px;
    height: 13px;
    right: 13px;
    top: 13px;
}
.opinion h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.recent-news h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.satellite-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    border-radius: 24px;
    background-color: white;
}
.news-container .news-photo{
    border-radius: 24px;
    margin: 0 32px;
}
.news-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    background: transparent;
}
.news-logo{
    width: 134px;
    height: 40x;
    margin: 12px 0px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.publication-time span{
    padding-left: 12px;
    background: transparent;
}
.news-card-content button{
    width: 23%;
    padding: 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.news-card-content button:hover{
    opacity: 0.8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.donate{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
}
.donate h3{
    font-size: 40px;
    font-weight: 700;
}
.tk-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.tk-container button{
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    border-radius: 16px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    cursor: pointer;
}
.tk-container button:hover{
    background-color: #c3e2d6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.donate input{
    text-align: center;
    padding: 20px 40px;
    background-color: white;
    border: none;
    width: 80%;
    font-size: 20px;
    font-weight: 400;
    outline: none;
}
.donate-btn{
    padding: 17px 34px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    background: rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 16%;
    cursor: pointer;
}
.donate-btn:hover{
    opacity: 0.8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.news-letter-container{
    background: #c6e4d6;
    padding: 80px 100px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-letter-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.news-letter-container p{
    text-align: center;
}
.input-div{
    background: transparent;
    display: flex;
    gap: 0;
    margin-top: 24px;
    margin-bottom: 25px;
}
.email{
    padding: 18px 40px;
    border-radius: 8px 0px 0px 8px;
    background: white;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(14, 14, 14, 0.3);
    width: 600px;
}
.submit-btn{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.footer-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 160px;
    font-size: 32px;
    font-weight: 700;
    background-color: white;
}
hr{
    position: static;
    width: 1122px;
    flex: none;
    margin: 32px 0px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
